* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 26px;
    color: #333;
}

.form-box {
    width: 100%;
    max-width: 450px;
    margin: 30px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 650px;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

form {
    width: 100%;
}

h3 {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

h3.style-error {
    color: red;
}

h3.style-success {
    color: green;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    color: #777;
}
